body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(109, 0, 100, 0.5);

    font-size: 52px;
    height: 100vh;
    gap: 50px;
}
div {
    border: 2px solid;
    transition: 50s ease-in-out;
}
div:hover {
    transform: rotate(0);
}

div:active {
    transform: rotate(-350000deg);
}

